snippet each "each loop in collection" 
<% ${1:collection}.each do |${2:model}| %>
	${0}
<% end %>
endsnippet

snippet = "Value" !
<%= ${1} %>${0}
endsnippet

snippet % "Function" !
<% ${1} %>${0}
endsnippet
